body{
	background-image: url('../img/bg.png');
	background-size: cover;
	font-family: opensans !important;
}

@font-face {
	font-family: opensans;
	src: url('../font/OpenSans-Regular.ttf');
}

#main{
	position: absolute;
	top: 50%;
	margin-top:-215px;	
}

#text-content{
	padding: 15px;
	text-align: center;
	color: white;
}

#logo {
	text-align: center;
}

#email-in{
	width:75%;
	padding: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid transparent;
}

#password{
	width:75%;
	padding: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid transparent;
}

#forgot-password{
	color:black;
	font-size: 12px;
	padding-top: 7.5px;
}


#btn-in {
	background: #bb2828;
	color: white;
	width: auto;
	display: block;
	margin: 0 auto;
}

#login {
	margin-top:40px;
	padding:20px;
	background: rgba(255,255,255,0.4);
}

#login input {
	display: block;
	margin: 10px auto;
}

#daftarKaryawan{
	padding-left:3.7%;
	color:white;
}


.navbar-default{
	background-color: transparent;
	background-image: none;
	border: 0px solid transparent;
	color: white !important;
	box-shadow: none;
	margin-bottom: 5px;
}

.navbar-default .navbar-nav > li > a 
{
	color: white;
}


.navbar-default .navbar-nav > li > a:hover
{
	color: #eaeaea;
}


.navbar-logo{
	position: absolute;
	left: 50%;
	margin-left: -60px;
	margin-top: 0px;
}

#nav{
	width : 100%;
	padding-top: 10px;
	margin: 0;
}

.navbar-toggle{
	background-color: transparent;
	border: 0;
	float: left;
}

.navbar-toggle:hover{
	background-color: rgba(255,255,255, 0.5) !important;
}

.navbar-toggle:hover > .icon-bar{
	background-color: #bb2828 !important;
}

.navbar-nav > li:hover > a {
	color: #bb2828 !important;
	background-color: rgba(255,255,255, 0.5) !important;
}

.icon-bar{
	background-color: white !important;
}

#content{
	background-color: rgba(255,255,255, 0.3);
	width: 100%;
	height: 100%;
}

#right{
	position: absolute;
	right: 0%;
	margin-right: 2px;
	margin-top: -7px;
}

@media(max-width: 767px){
.navbar-collapse {
	margin-top: 10px;
}
}

#kategori-main {
	background-color: rgba(0,0,0,0.5);
	padding:0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
}

#kategori-main > div{
	height: auto;
	margin: 0 auto;
	padding: 0px;
}

.container-fluid > .navbar-collapse {
	margin-top: 7px;
}

#btn-kat1 {
	margin: 10px auto;
}

#btn-kat2 {
	margin: 10px auto;
}

#btn-kat3 {
	margin: 10px auto;
}

#btn-kat4 {
	margin: 10px auto;
}

#btn-kat5 {
	margin: 10px auto;
}

#btn-kat6 {
	margin: 10px auto;
}

@media(max-width: 767px) {
#kategori1 {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: rgba(255,255,255,0.5);
}
}

#slippry-demo {
	margin-top: 5px;
	margin-bottom: 10px;
}

.sy-pager li.sy-active a {
    background-color: #bb2828 !important;
}

.sy-pager {
	padding: 10px !important;
	margin: 0 auto !important;
}

#promo-title {
	margin-top: 20px;
}

#utama-title {
	margin-top: 20px;
}

#menu1 {
	margin: 20px auto;
	text-align: center;
	color: white;
}

#menu2 {
	margin: 20px auto;
	text-align: center;
	color: white;
}

#menu3 {
	margin: 20px auto;
	text-align: center;
	color: white;
}

#menu4 {
	margin: 20px auto;
	text-align: center;
	color: white;
}

#menu5 {
	margin: 20px auto;
	text-align: center;
	color: white;
}

#menu6 {
	margin: 20px auto;
	text-align: center;
	color: white;	
}

#footer {
	margin:0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.modal-header {
	border-bottom: none !important;
}

.modal-footer {
	border-top: none !important;
}

#penjelasan-menu {
	margin-top: 5px;
	font-size: 120%;
}

#harga-menu {
	text-align: right;
	color: green;
	margin-top: 8px;
	font-size: 100%;
}

.btn-primary {
	background-image: none !important;
	border-color: #bb2828 !important;
	background-color: #bb2828 !important;
}

@media(max-width: 767px) {
.modal-dialog {
	top: 25% !important;
	bottom: 25% !important;
}
}

@media(max-width: 767px) {
#content1 {
	margin-bottom: 20px;
}
}

#btnIn {
	margin-top: 10px;
}

#btnLupa {
	margin-top: 20px;
}

#text-content {
	margin-top: 20px;
}

.nav > li > a {
	margin-top: 10 px;
	margin: auto;
	text-align: center;
	padding: 0px !important;
}

#sidebar {
	background-color: #bb2828;
}

.sidebar {
	border: none !important;
}

.menu-nav {
	margin-bottom: 10px !important;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: rgba(255,255,255,0.5);
	padding: 5px 0px 5px 0px;
	text-align: center;
}

#logo-nav {
	background-color: black;
	border-bottom-style: none;
}

.navbar-brand {
	margin: 0px auto !important;
}

.well {
	background-color: transparent !important;
	background-image: none;
	margin-top: 5px;
}

.submenu {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #DCDCDC;
	padding-bottom: 5px;
	margin-bottom: 5px;
	color: white;
	font-size: 80%;
}

@media(max-width: 767px) {
	.submenu {
		text-align: center;
	}
	
	a:hover {
		color: transparent;
	}
}

.submenu-link > .submenu:hover {
	background-color: rgba(255,255,255, 0.5) !important;
	color: #bb2828 !important;
}

.dropdown-menu > li > a:hover {
	background-color: #bb2828 !important;
	background-image: none !important;
	color: white;
}

#isi {
	margin-top: 10px;
}

.popover-title {
	background-color: #bb2828 !important;
	color: white;
	border-radius: 0px;
}


#remember-me input {
	display: inline !important;
	margin-left: 30px;
}

@media(max-width: 767px) {
#remember-me input {
	display: inline !important;
	margin-left: 0px;
}
}

@media(max-width: 767px) {
#forgot-password {
	padding-top: 0px;
	margin-top: 0px;
}
}

#remember {
	padding-left: 10px;
	font-size: 12px;
}

#remember-me > a {
	color: #bb2828;
}

#forgot-password > a {
	color: #bb2828;
}

#picture {
	margin: 10px 0px 10px 0px;
}

#batal-button {
	background: #bb2828;
	color: white;
	margin-top: 20px;
	margin-bottom: 5px;
}

#simpan-button {
	background: #bb2828;
	color: white;
	margin-top: 20px;
	margin-bottom: 5px;
}


#hapus-button {
	background: #bb2828;
	color: white;
	margin-top: 20px;
	margin-bottom: 5px;
}

#nama-menu {
	margin-top: 10px;
	font-size: 120%;
}

#status {
	color: green;
	text-align: right;
	margin-top: 10px;
}

#penjelasan {
	margin-top: 10px;
	text-align: center;
}

#harga-menu {
	color: #bb2828;
	text-align: left;
	font-size: 120%;
	margin-top: 5px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: black;
	padding-bottom: 10px;
}

#footer-modal-menu {
	margin-top: 10px;
}

#footer-modal-menu > a {
	color: #bb2828;
}

#harga-menu-promosi {
	color: #bb2828;
	text-align: left;
	font-size: 120%;
	margin-top: 5px;
}

#masa-berlaku {
	text-align: right !important;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: black;
	padding-bottom: 5px;
	font-size: 90%;
}

#delete-ques {
	text-align: center !important;
}

.daftar-meja{
	background-color:white;
	height:110px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:black;
	padding-top:4%;
	padding-left:7%;
}

.judul-home{
	font-size:150%;
	color:white;
	padding-left:1.3%;
}

@media(max-width: 767px){
.judul-home{
	font-size:150%;
	color:white;
	padding-left:1.3%;
	margin-left: 50%;
}
}

.edit-meja{
	text-align:right;
}

.style-kode-login{
	font-size:15px;
	font-weight:bold;
	color:#bb2828;
}

.style-font-meja{
	font-size:17px;
	font-weight:bold;
	color:black;
}

.konten-pelayan{
	background-color:white;
	height:200px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:black;
	padding-top:2%;
	padding-left:4%;
}

.konten-koki{
	background-color:white;
	height: 100%;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:black;
	padding-top:2%;
	padding-left:4%;
	padding-bottom: 10px;
}

.nama-menu-status{
	color:white;
	text-align:left;
	padding-top:3%;
}

.konten-status-menu {
	margin-top: 10px;
}

#btn-wait {
	background-color: #9f9f9f;
	color: black;
}

#btn-process {
	background-color: #9f9f9f;
	color: black;
	margin-left: 1px;
}

#btn-done {
	background-color: #9f9f9f;
	color: black;
	margin-left: 1px;
	width: 75px;
}

#btn-wait2 {
	background-color: #9f9f9f;
	color: black;
}

#btn-process2 {
	background-color: #9f9f9f;
	color: black;
	margin-left: 1px;
}

#btn-done2 {
	background-color: #9f9f9f;
	color: black;
	margin-left: 1px;
	width: 75px;
}

#btn-not-tersedia {
	background-color: #9f9f9f;
	color: black;
}

#btn-tersedia {
	background-color: #9f9f9f;
	color: black;
	margin-left: 1px;
	width: 120px;
}

@media(max-width: 767px) {
	#btn-status {
		margin-top: 10px;
	}
	
	.baris-pesan {
		padding-right: 0px !important;
	}
}

.baris-pesan {
	margin-bottom: 10px !important;
}

#btn-status-menu {
	margin-top: 25px !important;
	margin-bottom: 10px;
}

#panggilan {
	padding: 10px;
	font-size: 120%;
}

#cara-bayar {
	color: #bb2828 !important;
	font-size: 120%;
}

#bayar-tunai {
	text-align: center;
	font-size: 120%;
	margin-top: 5px;
}

#btn-done-panggil {
	margin-top: 15px;
	background-color: #bb2828;
	color: white;
}

#nama-meja {
	font-size: 120%;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
}

#keterangan-pemanggilan {
	margin-top: 10px;
}

/*TAMBAHAN LAILA*/
.nama-menu-status{
	color:white;
	text-align:left;
	padding-top:3%;
	height: auto;
	margin: 0 auto;
	padding: 0px;
}

.space {
	margin-top: 20px;
}

.space-bottom {
	margin-bottom: 20px;
}

.judul-role {
	font-size: 14px;
	color: white;
}

