
@font-face {
	font-family: opensans;
	src: url('../font/OpenSans-Regular.ttf');
}

body{
	background-image: url('../img/bg.png');
	background-size: cover;
	font-family: opensans !important;
}


#main{
	position: absolute;
	top: 50%;
	margin-top:-225px;	
}

#text-content{
	padding: 15px;
	text-align: center;
	color: white;
}

#logo {
	text-align: center;
}

#kode-in{
	width:75%;
	padding: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid transparent;
}

#btn-in {
	background: #bb2828;
	color: white;
	width: auto;
	display: block;
	margin: 0 auto;
}

#login {
	padding: 20px;
	background: rgba(255,255,255,0.4);
}

#login input {
	display: block;
	margin: 10px auto;
}


.navbar-default{
	background-color: transparent;
	background-image: none;
	border: 0px solid transparent;
	color: white !important;
	box-shadow: none;
	margin-bottom: 5px;
}

.navbar-default .navbar-nav > li > a 
{
	color: white;
}


.navbar-default .navbar-nav > li > a:hover
{
	color: #eaeaea;
}


.navbar-logo{
	position: absolute;
	left: 50%;
	margin-left: -60px;
	margin-top: 0px;
}

#nav{
	position: fixed;
	z-index: 2;
	background-color: #d8532e;
	width : 100%;
	padding-top: 10px;
	margin: 0;
}

.navbar-toggle{
	background-color: transparent;
	border: 0;
	float: left;
}

.navbar-toggle:hover{
	background-color: rgba(255,255,255, 0.5) !important;
}

.navbar-toggle:hover > .icon-bar{
	background-color: #bb2828 !important;
}

.navbar-nav > li:hover > a {
	color: #bb2828 !important;
	background-color: rgba(255,255,255, 0.5) !important;
}

.icon-bar{
	background-color: white !important;
}

#content{
	background-color: rgba(255,255,255, 0.3);
	width: 100%;
	height: 100%;
}

#right{
	position: absolute;
	right: 0%;
	margin-right: 2px;
	margin-top: -7px;
}

@media(max-width: 767px){
.navbar-collapse {
	margin-top: 10px;
}
}

#kategori-main {
	background-color: rgba(0,0,0,0.5);
	padding:0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
}

#kategori-main > div{
	height: auto;
	margin: 0 auto;
	padding: 0px;
}

.container-fluid > .navbar-collapse {
	margin-top: 7px;
}

#btn-kat1 {
	margin: 10px auto;
}

#btn-kat2 {
	margin: 10px auto;
}

#btn-kat3 {
	margin: 10px auto;
}

#btn-kat4 {
	margin: 10px auto;
}

#btn-kat5 {
	margin: 10px auto;
}

#btn-kat6 {
	margin: 10px auto;
}

#promo {
	z-index: 0;
}

@media(max-width: 767px) {
#kategori1 {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: rgba(255,255,255,0.5);
}
}

#slippry-demo {
	margin-top: 5px;
	margin-bottom: 10px;
}

.sy-pager li.sy-active a {
    background-color: #bb2828 !important;
}

.sy-pager {
	padding: 10px !important;
	margin: 0 auto !important;
}

#promo-title {
	margin-top: 20px;
}

#utama-title {
	margin-top: 45px;
}

#menu1 {
	margin: 20px auto;
	text-align: center;
	color: white;
}

#menu2 {
	margin: 20px auto;
	text-align: center;
	color: white;
}

#menu3 {
	margin: 20px auto;
	text-align: center;
	color: white;
}

#menu4 {
	margin: 20px auto;
	text-align: center;
	color: white;
}

#menu5 {
	margin: 20px auto;
	text-align: center;
	color: white;
}

#menu6 {
	margin: 20px auto;
	text-align: center;
	color: white;	
}

#footer {
	width:100%;
	position: fixed;
	z-index: 1;
	background-color: #d8532e;
	bottom:0;
	left: 0;
}

.modal-header {
	border-bottom: none !important;
}

.modal-footer {
	border-top: none !important;
}

#penjelasan-menu {
	margin-top: 5px;
	font-size: 120%;
}

#status-menu {
	text-align: right;
	color: green;
	margin-top: 8px;
	font-size: 100%;
}

.harga-menu {
	text-align: left;
	color: #bb2828;
	font-size: 110%;
}

.btn-primary {
	background-image: none !important;
	border-color: #bb2828 !important;
	background-color: #bb2828 !important;
}

/*@media(max-width: 767px) {
.modal-dialog {
	top: 15% !important;
	bottom: 15% !important;
}
}

.modal-dialog {
	top: 10%;
}*/

@media(max-width: 767px) {
#content1 {
	margin-bottom: 20px;
}
}

/* Bagian Modal Pesan */
.add_subs {
	background-color: #e0e0e0;
	color: #bb2828; 
	font-weight: bold;
}

.space {
	margin-top:10px;
}

.space-bottom {
	margin-bottom: 10px;
}

.padding-left {
	padding-left: 30px;
}

/* Bagina Lihat Pesanan */
.white {
	color: white;
}

.kotak-putih {
	width: 100%;
	background-color: white;
	padding: 5px;
}

.row {
	width: 100%;
}

.pengisi {
	height: 20px;
}

.pengisi-atas {
	height: 75px;
}